---
import Navbar from "./Navbar.astro";
import Hero from "./Hero.astro";
import TrustBar from "./TrustBar.astro";
import ValueProp from "./ValueProp.astro";
import Services from "./Services.astro";
import AISection from "./AISection.astro";
import Process from "./Process.astro";
import TechStack from "./TechStack.astro";
import Results from "./Results.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import WhatsAppFab from "./WhatsAppFab.astro";
---

<Navbar />
<main>
  <Hero />
  <TrustBar />
  <ValueProp />
  <Services />
  <AISection />
  <Process />
  <TechStack />
  <Results />
  <Contact />
</main>
<Footer />
<WhatsAppFab />
